.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.book-info-background {
    background:#efefef;
}

.book-info-inner {
}

.book-info-thumbnail {
    width:400px;
}

.container {
    width:1080px;
    margin:0 auto;
    display:flex;
    display:-webkit-flex;
    justify-content: flex-start;
    align-items: center;
}

@media(max-width:768px) {
    .container {
        width:100%;
        flex-direction: column;
    }
}