<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./temp.css" />
</head>
<body>
    <div class="book-info-background">
        <div class="container">
            <div class="book-info-inner">
                <img src="./maybe-front/src/logo.svg" class="book-info-thumbnail"/>
            </div>
            <div class="book-info-inner">
                <h3>책 제목</h3>
                <div class="book-info-list">
                     <span>저자</span>
                     <a href="#">저자명</a>
                </div>
                <div class="book-info-list">
                     <span>출판사</span>
                     <span>출판사명</span>
                </div>
                <div class="book-info-list">
                     <span>출간일</span>
                     <span>출판사명</span>
                </div>
                <div class="book-info-list">
                     <span>정가</span>
                     <span>출판사명</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>